@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.stripe-form {
  // background-color: teal;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // min-height: calc(156px - 2 * 16.8px);

  fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;

    .form-row {
      width: 100%;
    }
  }

  .stripe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 103, 220);
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgb(83, 95, 202);
    }

    i {
      color: $bright;
      font-size: 35px;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    line-height: 35px;
    color: $greyish;
    // font-style: italic;
    font-size: 11px;
    font-weight: 600;

    span {
      margin-left: 6px;
      color: rgb(90, 103, 220);
      font-size: 34px;
      font-style: normal;

      i {
        font-style: inherit;
      }
    }
  }
}
