@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.user-select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 195px;
  max-width: 420px;
  height: 2.1rem;
  background-color: $main-theme;
  border: 1px solid $greyish;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 280ms ease-out;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: $bright;
  }

  &:hover > .username-wrapper {
    color: $main-theme;
  }

  &.active {
    background-color: $bright;

    & > .username-wrapper {
      color: $main-theme;
    }
  }

  .username-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 2.1rem;
    padding: 0 0.75rem;
    color: $greyish;
    transition: color 280ms ease-out;
    white-space: nowrap;
    font-weight: 500;

    .fas.fa-caret-down {
      display: flex;
      align-items: center;
      min-height: 2.1rem;
      font-size: 1.05rem;
      transition: transform 280ms ease-out;
    }
  }

  .dropdown-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 500;
    color: $main-theme;
    opacity: 0;
    transition: opacity 250ms ease-in-out;

    .dropdown-list-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 2.1rem;
      padding-left: 0.75rem;
      transition: background-color 280ms ease-out, color 280ms ease-in-out;

      &:hover {
        background-color: $sub-theme;
        color: $bright;
      }

      &:hover > a {
        color: $bright;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        color: $main-theme;
        transition: color 280ms ease-in-out;
      }

      &:nth-of-type(2) {
        span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100%;

          .fas.fa-sign-out-alt {
            margin-left: 0.75rem;
          }
        }
      }      
    }
  }
}


