@import '../config.module.scss';
@import '../media-queries.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  min-width: $app-min-width;
  height: 100%;
  margin: 0 auto;

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    padding: 28px 40px 0 40px;

    &::after {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $bright;
    }

    @include sm-screen {
      padding: 28px 25.8px 0 25.8px;
    }

    h1 {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: $md-vertical-space;
      font-family: $title-font;
      color: $bright;
      letter-spacing: 1.28px;
      font-size: 41.6px;
      text-align: center;
      cursor: default;

      @include sm-screen {
        font-size: 33.6px; // 2.1rem
      }

      span:last-of-type {
        font-family: $content-font;
        font-size: $default-font-size;
        letter-spacing: 0.8px;
        font-weight: 600;
        background-color: $sub-theme;
        width: fit-content;
        margin: 12.6px auto 0 auto;
        padding: 0 5.6px; // .35rem

        @include sm-screen {
          font-size: 14.8px;
        }
      }
    }

    .menu {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 34.4px; // 2.15rem
      font-size: $default-font-size;
      z-index: 4;
      // background-color: orange;

      @include md-screen {
        flex-direction: column;
        height: auto;
      }

      a {
        color: $greyish;
        font-weight: 500;
        transition: color 250ms ease-out;

        &:hover {
          color: $sub-theme;
        }
      }

      .nav-menu {
        display: flex;
        align-items: center;

        @include md-screen {
          flex-direction: column;
          margin-bottom: $sm-space;
        }

        @include sm-screen {
          font-size: $sm-font-size; // 0.925rem
        }

        a:first-of-type {
          margin-right: 22.4px; // 1.4rem

          @include md-screen {
            margin-right: unset;
            margin-bottom: 12.6px;
          }
        }
      }

      .utils-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        // background-color: orangered;

        @include md-screen {
          position: relative;
          top: unset;
          right: unset;
          flex-direction: column;
        }

        @include sm-screen {
          font-size: $sm-font-size;
        }

        .cart-link {
          position: relative;
          display: flex;
          align-items: center;
          top: calc(34.4px / 2);
          margin-right: 22.4px; // 1.4rem
          min-height: 34.4px; // 2.15rem
          transform: translateY(-50%);

          &:hover {
            .cart-indicator {
              background-color: $sub-theme;
            }
          }

          @include md-screen {
            top: unset;
            margin-right: unset;
            min-height: unset;
            transform: unset;
            margin-bottom: 12.6px;
          }

          .cart-indicator {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-110%, 0%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 17.6px;
            height: 17.6px;
            border-radius: 50%;
            color: $main-theme;
            font-size: 10.4px; // .65rem
            font-weight: 500;
            background-color: $greyish;
            opacity: 0;
            transition: background-color 250ms ease-out, color 250ms ease-out;

            @include sm-screen {
              width: 16.4px; // 1.025rem
              height: 16.4px;
              font-size: 9.2px;
            }
          }

          &.active {
            .cart-indicator {
              background-color: $sub-theme;
              color: $bright;
            }
          }
        }

        .fas.fa-shopping-cart,
        .fas.fa-user-alt {
          margin-right: 8.4px;

          @include sm-screen {
            margin-right: 7.2px;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;
    min-height: $default-min-height-screen;
    padding: $default-layout-padding;
    // background-color: cadetblue;

    @include md-screen {
      min-height: $md-min-height-screen;
    }

    @include sm-screen {
      min-height: $sm-min-height-screen;
      padding: $sm-layout-padding;
    }
  }

  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    padding: 22.4px 0; // 1.4rem
    border-top: 1.4px solid $bright;
    background-color: $sub-theme;
    color: $bright;
    font-weight: 600;
    opacity: 0;
    cursor: default;

    @include md-screen {
      flex-direction: column;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      font-size: $default-font-size;

      @include md-screen {
        margin-bottom: 12.6px;
      }

      @include sm-screen {
        font-size: $sm-font-size;
      }
    }

    .logos-wrapper {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      transform: translate(0, -50%);

      @include md-screen {
        position: relative;
        top: unset;
        right: unset;
        transform: unset;
      }

      i {
        font-size: 33.6px; // 2.1rem
        margin-right: 16.8px;

        @include md-screen {
          &:last-of-type {
            margin-right: unset;
          }
        }

        @include sm-screen {
          font-size: 32.4px; // 2.025rem
        }
      }
    }
  }
}
