@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

$main-theme: #292d2f;
$sub-theme: brown;
$bright: #edf3f5;
$greyish: #8c8c8c;

$title-font: 'Cinzel Decorative', cursive;
$content-font: 'Cinzel', serif;
