@import './config.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  // overflow: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: $main-theme;
  font-family: $content-font;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
