@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 152.5px;
  opacity: 0;
  // -moz-transform-origin: 'center';
  // -webkit-transform-origin: 'center';
  // transform-origin: 'center';
  // transform: translate3d(0, 7%, 0);
  // transform: translateY(7%);

  @include md-screen {
    min-width: 122.5px;
  }

  &:hover > .img-link img {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

  &:hover > .card-title-link span:nth-of-type(1) {
    background-color: $sub-theme;
  }

  .img-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px; // .375rem
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 100%;
      backface-visibility: hidden;
      transition: transform 300ms ease-out;
    }
  }

  .card-title-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    min-width: 100%;
    padding: 5.6px 0;

    .card-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $bright;

      span:nth-of-type(1) {
        position: relative;
        padding: 0 5.6px;
        margin-bottom: 5.6px;
        text-align: center;
        font-size: 17.6px; // 1.1rem
        font-weight: 600;
        transition: background-color 250ms ease-out;

        @include md-screen {
          font-size: 16.4px;
        }
      }

      span:nth-of-type(2) {
        font-size: 16.8px;
        font-weight: 500;

        @include md-screen {
          font-size: 15.6px;
        }
      }
    }
  }
}
