@import '../../config.module.scss';
@import '../../media-queries.module.scss';

%input {
    flex: 1;
    height: 2.65rem;
    padding: 0 .8rem;
    border: 1.4px solid transparent;
    border-radius: 4px;
    background-color: $bright;
    font-family: $content-font;
    font-size: 0.95rem;
    font-weight: 500;
    color: $main-theme;

    @include sm-screen {
        font-size: 0.875rem;
    }
}

.field-array-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;

    label {
        position: relative;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        
        &::after {
            content: '';
            position: absolute;
            bottom: -2.1px;
            left: 0;
            display: block;
            height: 1.4px;
            width: 70%;
            background-color: $sub-theme;
        }

        @include sm-screen {
            font-size: 1.025rem;
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 2.65rem;
            margin-bottom: 1.15rem;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.9rem;
                height: 1.9rem;
                background-color: $sub-theme;
                font-weight: 600;

                @include sm-screen {
                    width: 1.75rem;
                    height: 1.75rem;
                    font-size: .925rem;
                }
            }

            input {
                @extend %input;
                margin-left: .95rem;
            }
        }
    }

    .btns-row {
        display: flex;
        align-self: center;
        justify-content: flex-start;
        width: 100%;
        min-height: .95rem;
        padding-left: calc(1.9rem + .95rem);
        margin-bottom: 1rem;

        .add-item, .remove-item {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: .95rem;
            min-height: .95rem;
            border: none;
            font-size: 1.175rem;
            color: $bright;
            background: transparent;
            transition: color 280ms ease-out;
            cursor: pointer;

            &:hover {
                color: $sub-theme;
            }

            @include sm-screen {
                font-size: 1.1rem;
            }

        }

        .add-item {
            margin-right: 1.15rem; 
        }
    }

    .form-err-msg-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 25px;
        width: 100%;
        padding-left: 2.85rem;

        .form-err-msg, 
        .length-err-msg {
            width: 100%;
            font-size: .85rem;
            font-weight: 600;
            text-align: left;
            color: $sub-theme;
            animation: fadeIn 0.6s ease-in-out;

            @include sm-screen {
                font-size: .775rem;
            }
        }
    }
}