@import '../../config.scss';

.error-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 0.85rem 1.35rem;
  padding: 0.8rem 1.25rem;
  border-radius: 4px;
  border: 1.4px solid brown;
  // color: $bright;
  color: brown;
  // background-color: lighten($color: brown, $amount: 2);
  background-color: $bright;
  font-size: 1.05rem;
  font-weight: 600;
  animation: fadeIn 0.9s ease-in-out;

  .fade-out {
    animation: fadeIn 0.9s ease-out;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
