@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.order-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 16.8px 8.4px;
  border-top: 0.8px solid $greyish;
  color: $bright;

  &:last-of-type {
    border-bottom: 0.8px solid $greyish;
  }

  @include md-screen {
    flex-direction: column;
    height: auto;
  }

  .col-1-it-order {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin-right: calc(34.4px + 17.2px);

    @include md-screen {
      flex-direction: column;
      align-items: center;
      margin-right: unset;
      margin-bottom: 16.8px;
      width: 100%;
    }

    .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 95px;
      height: 100%;
      margin-right: 16px;
      border-radius: 4px;
      overflow: hidden;

      &:hover + .item-infos .o-i-name {
        background-color: $bright;
        color: $sub-theme;
      }

      @include md-screen {
        margin-bottom: 16.8px;
        margin-right: unset;
      }

      img {
        width: 100%;
      }
    }

    .item-infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include md-screen {
        align-items: center;
        justify-content: flex-start;
        text-align: center;
      }

      a {
        color: $bright;
        margin-bottom: 4.8px;
        font-size: $default-font-size;

        &:hover > .o-i-name {
          background-color: $bright;
          color: $sub-theme;
        }

        @include sm-screen {
          font-size: $sm-font-size;
        }

        .o-i-name {
          font-size: $default-font-size;
          position: relative;
          padding: 0 5.6px;
          font-size: $default-font-size;
          font-weight: 500;
          background-color: $sub-theme;
          transition: background-color 250ms ease-out, color 250ms ease-out;

          @include sm-screen {
            font-size: $sm-font-size;
          }
        }
      }

      .o-i-description_m {
        font-size: 15.6px;
        font-weight: 400;

        @include sm-screen {
          font-size: 14.4px;
        }
      }
    }
  }

  .col-2-it-order {
    display: flex;
    align-items: center;
    justify-content: center;

    .it-order-values {
      display: flex;

      span:nth-of-type(1) {
        font-size: 15.2px;

        @include sm-screen {
          font-size: 14px;
        }
      }

      span:nth-of-type(2) {
        display: flex;
        align-items: center;
        margin: 0 8px;
        font-size: 12.8px;

        @include sm-screen {
          font-size: 13.2px;
        }
      }

      span:nth-of-type(3) {
        position: relative;
        margin-right: 8px;
        font-size: 15.2px;

        @include sm-screen {
          font-size: 14px;
        }
      }
    }

    span {
      font-size: $default-font-size;

      @include sm-screen {
        font-size: $sm-font-size;
      }
    }

    .it-order-total {
      position: relative;
      margin-left: 8px;
      font-size: 15.2px;

      @include sm-screen {
        font-size: 14px;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -2.5px;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $sub-theme;
      }
    }
  }
}
