@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.filter-row {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: $md-vertical-space;
  margin: $md-vertical-space 0;
  //   opacity: 0;

  @include md-screen {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-text {
    position: relative;
    color: $bright;
    font-size: 17.6px;
    font-weight: 500;
    margin-right: 22.4px;

    &::after {
      content: '';
      position: absolute;
      bottom: -2.1px;
      left: 0;
      display: block;
      height: 1.4px;
      width: 70%;
      background-color: $sub-theme;
    }

    @include md-screen {
      margin-bottom: 12.6px;
      margin-right: unset;
    }

    @include sm-screen {
      font-size: 16.4px;
    }
  }

  .filter-main-container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 33.6px;
    flex: 1;

    @include md-screen {
      width: 100%;
    }

    .filter-sub-container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      @include md-screen {
        flex-direction: column;
        min-height: calc(67.2px + 12.6px);
      }

      .filter-select-container,
      .brand-select-container,
      .categories-select-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 225px;
        max-width: 225px;
        height: 33.6px;
        background-color: $main-theme;
        border: 1px solid $greyish;
        border-radius: 4px;
        overflow: hidden;
        transition: background-color 280ms ease-out;
        cursor: pointer;
        z-index: 1;

        &:hover {
          background-color: $bright;
        }

        &:hover > .filter-indicator-wrapper {
          color: $main-theme;
        }

        &.active {
          background-color: $bright;

          & > .filter-indicator-wrapper {
            color: $main-theme;
          }
        }

        &:nth-of-type(1) {
          margin-right: 22.4px;

          @include md-screen {
            margin-right: unset;
          }
        }

        @include sm-screen {
          min-width: 212.5px;
        }

        .filter-type-wrapper,
        .brand-wrapper,
        .categories-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          min-height: 33.6px;
          padding: 0 12px;
          color: $greyish;
          transition: color 280ms ease-out;
          white-space: nowrap;
          font-weight: 500;
          font-size: 15.2px;

          @include sm-screen {
            font-size: 14px;
          }

          .fas.fa-caret-down {
            display: flex;
            align-items: center;
            min-height: 33.6px;
            font-size: 16.8px;
            transition: transform 280ms ease-out;

            @include sm-screen {
              font-size: 15.6px;
            }
          }
        }

        .filter-type-dropdown,
        .brand-dropdown {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          font-weight: 500;
          font-size: 15.2px;
          color: $main-theme;
          opacity: 0;
          transition: opacity 250ms ease-in-out;

          @include sm-screen {
            font-size: 14px;
          }

          .filter-type-dropdown-item,
          .brand-dropdown-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 33.6px;
            padding-left: 12px;
            transition: background-color 280ms ease-out, color 280ms ease-in-out;

            &:hover {
              background-color: $sub-theme;
              color: $bright;
            }
          }
        }

        .categories-dropdown {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          font-weight: 500;
          font-size: 15.2px;
          color: $main-theme;
          opacity: 0;
          transition: opacity 250ms ease-in-out;

          @include sm-screen {
            font-size: 14px;
          }

          .cat-wrapper {
            span {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              height: 33.6px;
              width: 100%;
              padding-left: 12.6px;
              background-color: lighten($greyish, 31.5%);
            }

            .cat-item {
              display: flex;
              align-items: center;
              width: 100%;
              height: 33.6px;
              padding-left: 20px;
              transition: background-color 280ms ease-out,
                color 280ms ease-in-out;

              &:hover {
                background-color: $sub-theme;
                color: $bright;
              }

              &:hover > .cat-chip {
                border-color: $bright;
              }

              &:hover > .cat-chip.active {
                background-color: $bright;
                border-color: $bright;
              }

              .cat-chip {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 9.6px;
                height: 9.6px;
                margin-right: 8px;
                border: 1px solid $main-theme;
                border-radius: 50%;
                transition: background-color 280ms ease-out,
                  border-color 280ms ease-out;

                &.active {
                  background-color: $sub-theme;
                  border-color: $sub-theme;
                }
              }
            }
          }
        }
      }

      .filter-select-container {
        @include md-screen {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }

      .filter-sub-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 33.6px;

        .brand-select-container,
        .categories-select-container {
          @include md-screen {
            position: absolute;
          }
        }
      }
    }
  }
}
