@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.radio-wrapper {
    display: flex;
    align-items: center;
    height: 2.1rem;
    width: 100%;
    padding-left: 1.5rem;

    label {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        width: 1rem;
        color: $bright;
        cursor: pointer;
        
        input[type='radio'] {
            display: none;
        }
    
        .radio-circle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-color: $main-theme;
            border: 1.2px solid $bright;
            border-radius: 50%;
            transition: background-color 280ms ease-in-out, border-color 280ms ease-in-out;

            @include sm-screen {
                width: .925rem;
                height: .925rem;
            }
            
        }
    
        &:hover .radio-circle {
            background-color: $sub-theme;
        }
    
        input:checked + .radio-circle {
            background-color: $sub-theme;;
            border: 1.2px solid $sub-theme;
        }
    
        input:checked + .radio-circle::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5.75px;
            height: 5.75px;
            background-color: $bright;
            border-radius: 50%;

            @include sm-screen {
                width: 5px;
                height: 5px;
            }
        }

    }

    .radio-txt {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: .75rem;
        font-weight: 500;
        font-size: 1.05rem;

        @include sm-screen {
            font-size: .975rem;
        }

    }
}
