@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.radio-wrapper {
  display: flex;
  align-items: center;
  height: 33.6px;
  width: 100%;
  padding-left: 24px;

  label {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 16px;
    color: $bright;
    cursor: pointer;

    input[type='radio'] {
      display: none;
    }

    .radio-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: $main-theme;
      border: 1.2px solid $bright;
      border-radius: 50%;
      transition: background-color 280ms ease-in-out,
        border-color 280ms ease-in-out;

      @include sm-screen {
        width: 14.8px;
        height: 14.8px;
      }
    }

    &:hover .radio-circle {
      background-color: $sub-theme;
    }

    input:checked + .radio-circle {
      background-color: $sub-theme;
      border: 1.2px solid $sub-theme;
    }

    input:checked + .radio-circle::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5.75px;
      height: 5.75px;
      background-color: $bright;
      border-radius: 50%;

      @include sm-screen {
        width: 5px;
        height: 5px;
      }
    }
  }

  .radio-txt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    font-weight: 500;
    font-size: 16.8px;

    @include sm-screen {
      font-size: 15.6px;
    }
  }
}
