@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.show-password {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 15.2px;
  color: $main-theme;
  background-color: $bright;
  cursor: pointer;
  transition: background-color 280ms ease-out, color 280ms ease-out;

  &:hover {
    color: $bright;
    background-color: $main-theme;
  }

  & input[type='checkbox'],
  & .far.fa-eye-slash {
    display: none;
  }

  & input[type='checkbox']:checked ~ .far.fa-eye-slash {
    display: inline-block;
  }

  & input[type='checkbox']:checked ~ .far.fa-eye {
    display: none;
  }

  @include sm-screen {
    font-size: 14px;
  }
}
