@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.products-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  min-height: 24px;
  // margin-bottom: 34.4px;
  opacity: 0;

  .nav-indic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 65px;
    height: 100%;
    color: $greyish;
    font-size: $default-font-size;
    cursor: default;

    @include sm-screen {
      font-size: $sm-font-size;
      min-width: 57.5px;
    }

    span:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      font-weight: 600;
    }
  }

  ul {
    display: flex;
    align-items: center;
    font-size: $default-font-size;

    @include sm-screen {
      font-size: $sm-font-size;
    }

    span {
      color: $greyish;
      font-weight: 600;
      cursor: default;
    }

    li:first-child {
      margin: 0 8px 0 0;
    }

    li:last-child {
      margin: 0 0 0 8px;
    }

    a {
      color: $greyish;
      transition: color 250ms ease-out;

      &:hover {
        color: $sub-theme;
      }
    }
  }
}
