@import '../../config.module.scss';
@import '../../media-queries.module.scss';

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 68.8px;
  margin-top: 34.4px;
  width: 100%;
  color: $greyish;
  opacity: 0;

  .product-row {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 68.8px;

    @include md-screen {
      flex-flow: column;
    }

    .product-col-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      max-width: 790px;
      cursor: default;

      @include md-screen {
        width: 100%;
        margin-bottom: 33.6px;
      }

      .img-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 33.6px;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .add-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 33.6px;

        .info-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          color: $bright;
          font-size: $default-font-size;
          font-weight: 500;

          @include sm-screen {
            font-size: $sm-font-size;
          }

          .price,
          .status {
            margin-bottom: 4px;
          }
        }
      }

      .alert-row-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: calc(100px + 16.8px);
        font-size: 16.8px;

        &.ctr {
          justify-content: center;
        }

        &.str {
          justify-content: flex-start;
        }

        @include sm-screen {
          font-size: 15.6px;
        }

        .add-cart-alert {
          color: $greyish;
          font-weight: 500;
          text-align: center;
          animation: fadeIn 400ms ease-out;

          &.margin {
            margin-bottom: 16.8px;
          }

          a {
            color: $bright;
            transition: color 250ms ease-out;

            &:hover {
              color: $sub-theme;
            }
          }
        }

        .stock-alert-product,
        .error-alert-add-cart {
          width: 75%;
          color: $sub-theme;
          font-weight: 600;
          text-align: center;
          animation: fadeIn 400ms ease-out;
          background-color: $bright;
          padding: 5.6px;
          font-size: 14.4px;

          @include sm-screen {
            font-size: 13.2px;
          }
        }
      }
    }

    .product-col-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 50%;
      margin-left: 50.4px; // 3.15rem
      cursor: default;

      @include md-screen {
        margin-left: unset;
        width: 100%;
      }

      .description-wrapper {
        display: flex;
        flex-direction: column;

        span {
          font-size: 1.1rem;
          font-weight: 500;
          margin-bottom: 0.75rem;
          width: fit-content;

          @include sm-screen {
            font-size: 1.025rem;
          }
        }

        li {
          font-size: 0.975rem;
          list-style: circle outside;
          text-align: left;
          margin-left: 0.85rem;

          &:not(:last-of-type) {
            margin-bottom: 0.2rem;
          }

          @include sm-screen {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
