@import '../config.module.scss';
@import '../media-queries.module.scss';

.cart-section {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: $padding-screen;
  // min-height: $min-height-screen;
  // padding: 2.15rem 0;
  // background-color: orange;

  .cart-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 2.15rem;
    opacity: 0;

    &.empty {
      align-items: center;
      justify-content: center;
    }

    &.filled {
      align-items: flex-start;
      justify-content: space-between;

      @include lg-screen {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .empty-msg {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $greyish;
      font-size: 1.15rem;
      font-weight: 500;
      cursor: default;

      @include sm-screen {
        font-size: 1.075rem;
      }

      .start-shop {
        margin-left: 0.5rem;
        color: $bright;
        font-size: 1.25rem;
        transition: color 250ms ease-out;

        &:hover {
          color: $sub-theme;
        }

        @include sm-screen {
          font-size: 1.175rem;
        }
      }
    }

    .customer-selection {
      display: flex;
      flex-direction: column;

      @include md-screen {
        width: 100%;
        max-width: 375px;
      }

      .cart-header {
        display: inline-block;
        width: fit-content;
        padding: 0 5.6px; // .35rem
        margin-bottom: 25.8px;
        font-size: 18.4px;
        font-weight: 500;
        color: $bright;
        background-color: $sub-theme;
        cursor: default;

        @include sm-screen {
          font-size: 17.2px;
        }
      }

      .cart-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: default;

        @include md-screen {
          width: 100%;
          min-width: calc(320px - 1.6125rem * 2);
          max-width: 375px;
          // min-width: 375px;
        }

        .items-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 0.5rem;
          color: $greyish;
          font-size: 0.85rem;
          font-weight: 500;
          padding: 0 0.525rem;

          p:nth-of-type(1) {
            flex: 2;
            margin-right: calc(2.15rem + 1.075rem);
          }

          p:nth-of-type(2) {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            min-width: 250px;
            max-width: 275px;
            flex: 1;

            span:nth-of-type(1) {
              position: absolute;
              left: -1.3rem;
              bottom: 0;
              grid-column: 1;
            }

            span:nth-of-type(2) {
              grid-column: 2 / span 2;
            }
          }
        }

        .cart-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $bright;
          width: 100%;
          max-width: 790px;
          height: 150px;
          padding: 1.05rem 0.525rem;
          border-top: 0.8px solid $greyish;

          &:last-of-type {
            border-bottom: 0.8px solid $greyish;
          }

          @include md-screen {
            flex-direction: column;
            height: auto;
            padding: 1.05rem 0.525rem calc(1.05rem + 2px) 0.525rem;
          }

          .cart-it-col-1 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 2;
            height: 100%;
            margin-right: calc(2.15rem + 1.075rem);

            @include md-screen {
              flex-direction: column;
              flex: unset;
              margin-right: unset;
              margin-bottom: 1.05rem;
              width: 100%;
            }

            .img-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 120px;
              max-width: 120px;
              height: 100%;
              margin-right: 1.5rem;
              border-radius: 4px;
              overflow: hidden;

              &:hover + .item-infos .c-i-name {
                background-color: $bright;
                color: $sub-theme;
              }

              @include md-screen {
                margin-bottom: 1.05rem;
                margin-right: unset;
              }

              img {
                width: 100%;
              }
            }

            .item-infos {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              @include md-screen {
                align-items: center;
                justify-content: flex-start;
                text-align: center;
              }

              a {
                color: $bright;
                margin-bottom: 0.45rem;

                &:hover > .c-i-name {
                  background-color: $bright;
                  color: $sub-theme;
                }

                .c-i-name {
                  font-size: 1.1rem;
                  position: relative;
                  padding: 0 0.35rem;
                  font-weight: 500;
                  background-color: $sub-theme;
                  transition: background-color 250ms ease-out,
                    color 250ms ease-out;

                  @include sm-screen {
                    font-size: 1.025rem;
                  }
                }
              }

              .c-i-description_m {
                margin-bottom: 0.3rem;
                font-size: 1.05rem;
                font-weight: 400;

                @include sm-screen {
                  font-size: 0.975rem;
                }
              }

              .c-i-price {
                font-size: 1.05rem;
                font-weight: 400;

                @include sm-screen {
                  font-size: 0.975rem;
                }
              }
            }
          }

          .cart-it-col-2 {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            min-width: 250px;
            max-width: 275px;
            height: 100%;

            @include md-screen {
              flex: unset;
              width: 100%;
              height: auto;
              justify-content: center;
            }

            .cart-it-row-1 {
              // display: flex;
              // align-items: center;
              // justify-content: space-between;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              width: 100%;
              height: 100%;

              @include md-screen {
                position: relative;
                padding-left: unset;
              }

              .qty-wrap {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .qty-sub-wrap {
                  position: relative;
                  min-width: 1rem;
                  text-align: center;

                  .qty-btn {
                    display: inline-block;
                    padding-bottom: 0.25rem;
                    min-width: 12px;
                    background-color: transparent;
                    border: none;
                    color: $bright;
                    font-size: 1.2rem;
                    font-weight: 400;
                    transition: transform 75ms ease-in, color 250ms ease-out;
                    cursor: pointer;

                    &:first-of-type {
                      position: absolute;
                      left: -1.3rem;

                      @include md-screen {
                        position: relative;
                        left: unset;
                        margin-right: 0.725rem;
                      }
                    }

                    &:last-of-type {
                      position: absolute;
                      right: -1.3rem;

                      @include md-screen {
                        position: relative;
                        right: unset;
                        margin-left: 0.725rem;
                      }
                    }

                    &:hover {
                      color: $sub-theme;
                    }

                    &:active {
                      transform-origin: center;
                      -webkit-transform: scale(0.83);
                      transform: scale(0.83);
                    }

                    @include sm-screen {
                      font-size: 1.125rem;
                    }
                  }

                  .qty {
                    font-size: 1.1rem;
                    font-weight: 500;

                    @include sm-screen {
                      font-size: 1.025rem;
                    }
                  }
                }
              }

              .it-total-wrap {
                display: flex;
                align-items: center;
                justify-content: center;

                .it-total {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.1rem;
                  font-weight: 500;

                  &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $sub-theme;
                  }

                  @include md-screen {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                  }

                  @include sm-screen {
                    font-size: 1.025rem;
                  }
                }
              }

              .trash-wrap {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                i {
                  color: $bright;
                  font-size: 1.1rem;
                  transition: color 250ms ease-out, transform 75ms ease-in;
                  cursor: pointer;

                  &:hover {
                    color: $sub-theme;
                  }

                  &:active {
                    transform-origin: center;
                    -webkit-transform: scale(0.92);
                    transform: scale(0.92);
                  }

                  @include sm-screen {
                    font-size: 1.025rem;
                  }
                }
              }
            }

            .stock-alert-cs {
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translate3d(-50%, 0, 0);
              color: $sub-theme;
              font-size: 0.8rem;
              font-weight: 600;
              background-color: $bright;
              padding: 0 0.35rem;
              text-align: center;
              white-space: nowrap;
              animation: fadeIn 400ms ease-out;

              @include md-screen {
                position: relative;
                left: unset;
                bottom: unset;
                transform: unset;
                margin-top: 1.05rem;
              }

              @include sm-screen {
                font-size: 0.725rem;
              }
            }
          }
        }
      }
    }

    .subtotal-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-width: 375px;
      min-height: 375px;
      padding: 1.05rem;
      margin-left: 2.15rem;
      border: 1px solid $bright;
      border-radius: 4px;
      color: $bright;
      cursor: default;

      @include lg-screen {
        margin-left: unset;
        width: 100%;
        min-width: calc(320px - 1.6125rem * 2);
        max-width: 375px;
        margin-bottom: 3.15rem;
      }

      .subtotal {
        font-size: 1.15rem;
        font-weight: 600;

        @include sm-screen {
          font-size: 1.075rem;
        }
      }

      .total {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.175rem;
        border-bottom: 2px solid $sub-theme;

        @include sm-screen {
          font-size: 1.125rem;
        }

        small {
          font-size: 0.8rem;
          font-weight: 500;

          @include sm-screen {
            font-size: 0.725rem;
          }
        }
      }

      span:nth-of-type(3) {
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
        color: $greyish;

        @include sm-screen {
          font-size: 0.825rem;
        }
      }
    }
  }
}
