@import '../components//utilities/ScreenTitle.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2.1rem 0;
}
