@import '../config.module.scss';
@import '../media-queries.module.scss';

.info-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: $padding-screen;
  cursor: default;

  .info-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 34.4px;
    font-size: 1.05rem;
    color: $bright;
    opacity: 0;

    @include sm-screen {
      font-size: 0.975rem;
    }

    p {
      text-align: justify;
    }

    .partners {
      display: flex;
      flex-direction: column;
      margin-top: 2.15rem;

      span {
        margin-bottom: 0.7875rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        li {
          a {
            color: $greyish;
            font-weight: 500;
            transition: color 250ms ease-out;

            &:hover {
              color: $sub-theme;
            }
          }

          &:not(:first-of-type) {
            margin-top: 0.4rem;
          }
        }
      }
    }
  }
}
