@import '../config.module.scss';
@import '../media-queries.module.scss';

.payment-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding: $padding-screen;

  .payment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50.4px;
    flex-grow: 1;
    width: $default-form-width;
    color: $bright;
    opacity: 0;
    cursor: default;

    @include md-screen {
      width: 100%;
      max-width: $default-form-width;
    }

    h3 {
      width: 100%;
      margin-bottom: 50.4px;
      font-size: 17.6px;
      font-weight: 500;
      text-align: center;
      // background-color: green;

      @include sm-screen {
        font-size: 16.4px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      flex-grow: 1;

      .payment-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50.4px;
      }
    }
  }
}
