@import '../config.module.scss';
@import '../media-queries.module.scss';

.payment-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: $padding-screen;

    .payment-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 3.15rem;
        flex-grow: 1;
        width: 420px;
        color: $bright;
        opacity: 0;
        cursor: default;
        // background-color: slategray;

        @include md-screen {
            width: 100%;
            max-width: 420px;
          }

        h3 {
            width: 100%;
            margin-bottom: 3.15rem;
            font-size: 1.1rem;
            font-weight: 500;
            text-align: center;
            // background-color: green;

            @include sm-screen {
                font-size: 1.025rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            flex-grow: 1;

            .payment-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 3.15rem;
            }
        }
    }
}