@import '../config.scss';

.place-order-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - (139.6px + 4.6rem));
    padding: 2.1rem 0;

    .place-order-main-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        margin-top: 2.1rem;
        
        .place-order-col-1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 64%;
            
            .place-order-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                margin-bottom: 2.1rem;
                color: $bright;

                h3 {
                    padding: 0 0.35rem;
                    margin-bottom: 1.05rem;
                    font-size: 1.125rem;
                    font-weight: 500;
                    background-color: brown;
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 100%;
                    padding-left: 1.05rem;

                    h4 {
                        margin-bottom: .75rem;
                        font-weight: 500;
                        font-size: 1rem;
                    }

                    span:not(:last-of-type) {
                        margin-bottom: .75rem;
                    }
                }

                .order-items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-left: 1.05rem;
                    cursor: default;

                    .order-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 110px;
                        padding: .75rem 0;
                        border-top: 0.8px solid $greyish;
                        color: $bright;

                        &:last-of-type {
                            border-bottom: 0.8px solid $greyish;
                        }

                        .col-1-it-order {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            width: 420px;
                            height: 100%;

                            .img-wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                max-width: 95px;
                                height: 100%;
                                border-radius: 4px;
                                overflow: hidden;

                                &:hover + .item-infos .o-i-name {
                                    background-color: $bright;
                                    color: brown;
                                }

                                img {
                                    width: 100%;
                                }
                            }

                            .item-infos {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                margin-left: 1rem;
                    
                                a {
                                  color: $bright;
                                  margin-bottom: 0.3rem;
                    
                                  &:hover > .o-i-name {
                                    background-color: $bright;
                                    color: brown;
                                  }
                    
                                  .o-i-name {
                                    font-size: 1rem;
                                    position: relative;
                                    padding: 0 0.35rem;
                                    font-weight: 500;
                                    background-color: brown;
                                    transition: background-color 250ms ease-out, color 250ms ease-out;
                                  }
                                }
                    
                                .o-i-description_m {
                                  margin-bottom: 0.15rem;
                                  font-size: .975rem;
                                  font-weight: 400;
                                }
                            }
                        }

                        .col-2-it-order {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex: 1;
                            height: 100%;
                            margin-left: 1rem;

                            .it-order-values {
                                display: flex;

                                span:nth-of-type(1) {
                                    font-size: .925rem;
                                }

                                span:nth-of-type(2) {
                                    display: flex;
                                    align-items: center;
                                    margin: 0 .5rem;
                                    font-size: .775rem;

                                }

                                span:nth-of-type(3) {
                                    position: relative;
                                    margin-right: .5rem;
                                    font-size: .925rem;
                                }
                            }

                            .it-order-total {
                                position: relative;
                                margin-left: .5rem;
                                font-size: .925rem;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: -3.5px;
                                    left: 0;
                                    display: block;
                                    width: 100%;
                                    height: 2px;
                                    background-color: brown;
                                }
                            }
                        }
                    }
                }
            }
        }

        .place-order-col-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 30%;

            .place-order {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                min-height: 300px;
                min-height: 375px;
                padding: 1.05rem 2.1rem;
                margin-bottom: 2.1rem;
                border: 1px solid $bright;
                border-radius: 4px;
                color: $bright;
                cursor: default;
    
                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding-bottom: 0.175rem;
                    border-bottom: 1px solid $bright;
                }
    
                .place-order-infos {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 100%;
    
                    p {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding: .6rem 0;
                        font-size: 1rem;
                        font-weight: 600;
    
                        small {
                            font-size: .8rem;
                            font-weight: 500;
                        }
                    }
    
                    p:not(:last-of-type) {
                        border-bottom: 1px solid $bright;
                    }
    
                    p:last-of-type {
                        span {
                            position: relative;
    
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -3.5px;
                                left: 0;
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: brown;
                            }
                        }
                    }
                }
            }
        }

    }
}