@import '../config.module.scss';
@import '../media-queries.module.scss';

.products-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding: $padding-screen;
  transition: opacity 250ms ease-out;

  @include sm-screen {
    padding-top: 0;
  }

  &.ctr {
    justify-content: center;
  }

  &.str {
    justify-content: flex-start;
  }

  .products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .no-result {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 3.15rem;
      text-align: center;
      color: $bright;
      font-weight: 400;
      font-size: 1.1rem;
      opacity: 0;
      cursor: default;

      @include sm-screen {
        font-size: 1.025rem;
      }
    }

    .products-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      column-gap: 1.6rem;
      table-layout: auto;
      row-gap: 2rem;

      @include md-screen {
        grid-template-columns: repeat(3, 1fr);
      }

      @include sm-screen {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
