@import '../config.module.scss';
@import '../media-queries.module.scss';

%input {
	width: 100%;
	height: $default-form-height;
	padding: $form-padding;
	border: none;
	border-radius: 4px;
	background-color: $bright;
	font-family: $content-font;
	font-size: $default-font-size;
	font-weight: 500;
	color: $main-theme;

	@include sm-screen {
		font-size: $sm-form-font-size;
	}
}

.product-create-section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 100%;
	padding: $padding-screen;

	.product-create-main-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex-grow: 1;
		width: 100%;

		.product-create-form-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			margin-top: 50.4px;
			width: $default-form-width;
			color: $bright;
			opacity: 0;
			cursor: default;

			@include md-screen {
				width: 100%;
				max-width: $default-form-width;
			}

			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 100%;

				.field-control {
					display: flex;
					flex-flow: column;
					align-items: flex-start;
					width: 100%;
					min-height: 120px;
					margin-bottom: 16px;

					label {
						position: relative;
						margin-bottom: 16px;
						font-size: $default-label-font-size;
						font-weight: 500;

						&::after {
							content: '';
							position: absolute;
							bottom: -2.1px;
							left: 0;
							display: block;
							height: 1.4px;
							width: 70%;
							background-color: $sub-theme;
						}

						@include sm-screen {
							font-size: $sm-label-font-size;
						}
					}

					#userID,
					#name,
					#brand,
					#price,
					#countInStock,
					#description_m,
					#imageURL {
						@extend %input;
						margin-bottom: 12px;
					}

					.form-err-msg-wrap {
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						height: 25px;
						width: 100%;

						.form-err-msg {
							width: 100%;
							font-size: $default-err-msg-font-size;
							font-weight: 600;
							text-align: left;
							color: $sub-theme;
							animation: fadeIn 0.6s ease-in-out;

							@include sm-screen {
								font-size: $sm-err-msg-font-size;
							}
						}
					}
				}

				#img-field-control {
					input:nth-of-type(2) {
						display: none;
					}

					label:nth-of-type(2) {
						display: flex;
						align-items: center;
						width: auto;
						height: 30.4px;
						padding: 0 15.2px;
						margin-bottom: 16px;
						background-color: transparent;
						border: 1.2px solid;
						border-radius: 4px;
						color: $bright;
						font-family: $content-font;
						font-size: 15.2px;
						font-weight: 500;
						transition: transform 75ms ease-in, background-color 280ms ease-out;
						cursor: pointer;

						&::after {
							display: none;
						}

						&:hover {
							background-color: $sub-theme;
						}

						@include sm-screen {
							font-size: 14px;
						}
					}
				}

				.form-group {
					display: flex;
					flex-flow: column;
					align-items: flex-start;
					width: 100%;
					margin-bottom: calc(12px + 25px);

					.form-group-label {
						position: relative;
						margin-bottom: 12px;
						font-size: 17.6px;
						font-weight: 500;

						&::after {
							content: '';
							position: absolute;
							bottom: -2.1px;
							left: 0;
							display: block;
							height: 1.4px;
							width: 70%;
							background-color: $sub-theme;
						}

						@include sm-screen {
							font-size: 16.4px;
						}
					}

					.form-group-row {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;

						&:nth-of-type(1) {
							margin-bottom: 16px;
						}

						@include sm-screen {
							flex-direction: column;
							align-items: flex-start;
						}

						.form-group-sub-col {
							display: flex;
							flex-direction: column;
							width: 50%;

							@include sm-screen {
								width: 100%;

								&:nth-child(2n + 1) {
									margin-bottom: 12px;
								}
							}

							.col-title {
								margin-bottom: 4px;
								font-size: 17.6px;
								font-weight: 500;

								@include sm-screen {
									font-size: 16.4px;
								}
							}

							.checkbox-wrap {
								padding-left: 24px;
							}
						}
					}
				}
			}
		}
	}
}
