@import '../config.module.scss';
@import '../media-queries.module.scss';

.product-section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  // min-height: 1050px;
  width: 100%;
}
