@import '../config.scss';

.products-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - (142.5px + 4.6rem));
    padding: 2.1rem 0 3.15rem;
    // padding: 2.1rem 0;
    // background-color: cadetblue;

    .products-list-main-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3.15rem;
        width: 100%;
        flex-grow: 1;
        margin-top: 3.15rem;
        // background-color: orange;
        
        &.ctr {
            justify-content: center;
        }

        &.str {
            justify-content: flex-start;
        }

        .create-btn-row {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3.15rem;
        }

        .products-list-table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 2.5px;
            overflow: hidden;
            // opacity: 0;
            cursor: default;
  
            thead {
              height: 3.15rem;
              background-color: lighten($greyish, 9%);
  
                tr {
                    color: $bright;

                    th {
                        font-size: 1rem;
                        font-weight: 500;

                        &:nth-of-type(2), 
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5),
                        &:nth-of-type(6),
                        &:nth-of-type(7) {
                            position: relative;

                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 1.2px;
                                height: 65%;
                                background-color: $bright;
                            }
                        }
                    }
                }
            }
  
            tbody {
  
                tr {
                    font-size: .95rem;
                    height: 3.15rem;
                    text-align: center;
                    vertical-align: center;
                    transition: background-color 280ms ease-out;

                    td:nth-of-type(6) {
                        height: 100%;
                    }

                }

                tr:nth-child(2n + 1) {
                    background-color: $bright;
                    color: $main-theme;
                }

                tr:nth-child(2n) {
                    background-color: lighten($greyish, 31.5%);
                    color: $main-theme;
                }
            }
        }

        .confirm-alert {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 420px;
            height: 195px;
            border-radius: 2.5px;
            border: 1.2px solid $main-theme;
            background-color: $main-theme;
            color: brown;
            box-shadow: 2.25px 2.25px 2.5px $greyish;

            &.fade-in {
                animation: fadeIn 400ms cubic-bezier(.53,.94,.25,1.02);
            }

            &.fade-out {
                animation: fadeOut 400ms cubic-bezier(.53,.94,.25,1.02);
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                width: 100%;
                font-size: 1.4rem;
                font-weight: 500;
                background-color: $bright;
                border-bottom: 1.2px solid $bright;
            }

            .btns-row {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                // background-color: $bright;

                width: 100%;
                flex: 2.5;
            }

        }
    }
}