@import '../config.scss';

.products-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - (142.5px + 4.6rem));
    padding: 2.1rem 0 3.15rem;
    // padding: 2.1rem 0;
    // background-color: cadetblue;

    .products-list-main-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 0 3.15rem;
        width: 100%;
        flex-grow: 1;
        margin-top: 3.15rem;
        // background-color: orange;
        
        &.ctr {
            justify-content: center;
        }

        &.str {
            justify-content: flex-start;
        }

        .create-link-row {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3.15rem;
            opacity: 0;
        }

        .products-list-table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 2.5px;
            // border-radius: 50px;
            overflow: hidden;
            // overflow: visible;
            opacity: 0;
            cursor: default;
  
            thead {
              height: 3.15rem;
              background-color: lighten($greyish, 9%);
  
                tr {
                    color: $bright;

                    th {
                        font-size: 1rem;
                        font-weight: 500;

                        &:nth-of-type(2), 
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5),
                        &:nth-of-type(6),
                        &:nth-of-type(7),
                        &:nth-of-type(8) {
                            position: relative;

                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 1.2px;
                                height: 65%;
                                background-color: $bright;
                            }
                        }

                        &:nth-of-type(6) {
                            position: relative;
                            overflow: visible;

                            .out-of-stock-products {
                                position: absolute;
                                top: 0;
                                right: 50%;
                                transform: translate3d(50%, -115%, 0);
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: flex-start;
                                width: calc(100% - 6px);
                                // min-width: 200px;
                                // min-height: 135px;
                                max-height: 135px;
                                border-radius: 3px;
                                border-radius: 2.5px;
                                border: 1.2px solid $bright;
                                background-color: $main-theme;
                                box-shadow: 2.25px 2.25px 2.5px $greyish;
                                font-size: .875rem;
                                overflow-y: auto;
                                animation: fadeIn 280ms ease-out;

                                span {
                                    width: 100%;
                                    padding: .2rem .4rem;
                                    margin-bottom: .5rem;
                                    background-color: $bright;
                                    color: brown;
                                    font-weight: 500;
                                }

                                li {
                                    width: 100%;
                                    padding: 0 .4rem;
                                }

                                li:last-of-type {
                                    padding-bottom: .5rem;
                                }

                                li:not(:last-of-type) {
                                    margin-bottom: .3rem;
                                }
                            }

                            .stock-warn {
                                position: relative;
                                padding: .175rem .375rem;
                                transition: color 280ms ease-out;
                                cursor: pointer;

                                &:hover, &:hover > .fas.fa-exclamation-circle {
                                    color: brown;
                                }

                                .fas.fa-exclamation-circle {
                                    font-size: .8rem;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    transform: translate3d(75%, -25%, 0);
                                    transition: color 280ms ease-out;
                                }
                            }
                        }
                    }
                }
            }
  
            tbody {
  
                tr {
                    font-size: .95rem;
                    // height: 3.15rem;
                    height: 90px;
                    // min-height: 90px;
                    text-align: center;
                    vertical-align: center;
                    transition: background-color 280ms ease-out;

                    td:nth-of-type(1), 
                    td:nth-of-type(2) {
                        padding: 0 .95rem;
                    }

                    td:nth-of-type(4),
                    td:nth-of-type(5) {
                        font-size: .85rem;
                    }

                    td:nth-of-type(6) {
                        height: 100%;
                    }

                }

                tr:nth-child(2n + 1) {
                    background-color: $bright;
                    color: $main-theme;
                }

                tr:nth-child(2n) {
                    background-color: lighten($greyish, 31.5%);
                    color: $main-theme;
                }
            }
        }
    }
}