@import '../config.scss';

%input {
    width: 100%;
    height: 2.65rem;
    padding: 0 .8rem;
    border: none;
    border-radius: 4px;
    background-color: $bright;
    font-family: $content-font;
    font-size: 0.95rem;
    font-weight: 500;
    color: $main-theme;
}

.product-edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - (142.5px + 4.6rem));
    padding: 2.1rem 0 3.15rem;

    .product-edit-main-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        width: 100%;

        &.ctr {
            justify-content: center;
        }

        &.str {
            justify-content: flex-start;
        }

        .product-edit-form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 3.15rem;
            width: 420px;
            color: $bright;
            opacity: 0;
            cursor: default;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
           
                .field-control {
                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;
                    width: 100%;
                    min-height: 120px;
                    // margin-bottom: .75rem;
          
                    label {
                        position: relative;
                        margin-bottom: 1rem;
                        font-size: 1.1rem;
                        font-weight: 500;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -2.1px;
                            left: 0;
                            display: block;
                            height: 1.4px;
                            width: 70%;
                            background-color: $sub-theme;
                        }
                    }
          
                    #userID,
                    #name,
                    #brand,
                    #price,
                    #countInStock,
                    #description_m,
                    #imageURL {
                        @extend %input;
                    }
                }

                .form-group {
                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;
                    width: 100%;
                    margin-bottom: calc(.75rem + 25px);

                    .form-group-label {
                        position: relative;
                        margin-bottom: .75rem;
                        font-size: 1.1rem;
                        font-weight: 500;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -2.1px;
                            left: 0;
                            display: block;
                            height: 1.4px;
                            width: 70%;
                            background-color: $sub-theme;
                        }
                    }

                    .form-group-row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        // background-color: steelblue;

                        &:nth-of-type(1) {
                            margin-bottom: 1rem;
                        }

                        .form-group-sub-col {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            // background-color: cadetblue;

                            .col-title {
                                margin-bottom: .25rem;
                                font-size: 1.1rem;
                                font-weight: 500;
                            }

                            .checkbox-wrap {
                                padding-left: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

