@import '../config.scss';

%input {
  width: 100%;
  height: 2.65rem;
  padding: 0 42px 0 .8rem;
  border: 1.4px solid transparent;
  // border: none;
  border-radius: 4px;
  background-color: $bright;
  font-family: $content-font;
  font-size: 0.95rem;
  font-weight: 500;
  color: $main-theme;
}

%col-title {
  position: relative;
  margin-bottom: 2.1rem;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 2.1px;
    background-color: brown;
  }
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - (139.6px + 4.6rem));
  // padding: 2.1rem 0;
  padding: 2.1rem 0 3.15rem;
  // background-color: cadetblue;

  .profile-main-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-top: 3.15rem;
    
    .profile-col-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      padding-right: 3.15rem;
      width: 40%;
      min-height: calc(758.4px - 39.6px - 4.2rem - 3.15rem);
      border-right: 1px solid $bright;
      color: $bright;
      // flex-direction: column;

      h3 {
        @extend %col-title;
      }

      .profile-form-container {
        width: 100%;
        flex-grow: 1;
        display: flex;
        
        &.ctr {
          align-items: center;
          justify-content: center;
        }

        &.str {
          align-items: flex-start;
          justify-content: center;
        }
        // background-color: burlywood;

        .profile-form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          opacity: 0;
          // min-height: 245px;
          // background-color: cadetblue;

          .field-control {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            width: 100%;
            min-height: 132.5px;
            // min-height: 125px;
            // background-color: burlywood;

            &:nth-of-type(3) {

              .password-input-wrap-profile {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-bottom: 0.75rem;
              }
            }
    
            &:nth-of-type(4) {
              margin-bottom: 2.1rem;
            }
    
            label:nth-child(1) {
              margin-bottom: 0.75rem;
              font-size: 1.1rem;
              font-weight: 500;
            }

            #username,
            #email,
            #confirmationPassword {
              @extend %input;
              margin-bottom: 0.75rem;
            }

            #password {
              @extend %input;
            }

            .form-err-msg {
              width: 100%;
              padding-left: 0.8rem;
              font-size: 0.85rem;
              font-weight: 600;
              text-align: left;
              color: brown;
              animation: fadeIn 0.6s ease-in-out;
            }
          }

          .bottom-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            // background-color: slateblue;

          }
        }
      }
    }

    .profile-col-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      height: 100%;
      flex-grow: 1;
      min-height: calc(758.4px - 39.6px - 4.2rem - 3.15rem);
      color: $bright;

      h3 {
        @extend %col-title;
        margin-left: 3.15rem;
      }

      .table-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        padding-left: 3.15rem;

        &.ctr {
          align-items: center;
          justify-content: center;
        }

        &.str {
          align-items: flex-start;
          justify-content: center;
        }

        p {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          color: $greyish;
          font-size: 1.15rem;
          font-weight: 500;
          cursor: default;
    
          .start-shop {
            margin-left: 0.5rem;
            color: $bright;
            font-size: 1.25rem;
            transition: color 250ms ease-out;
    
            &:hover {
              color: brown;
            }
          }
        }

        .my-orders-table {
          width: 100%;
          border-collapse: collapse;
          border-radius: 2.5px;
          overflow: hidden;
          opacity: 0;
          cursor: default;

          thead {
            height: 2.65rem;
            background-color: lighten($greyish, 9%);

            tr {
              height: 100%;

              th {
                font-size: .925rem;
                font-weight: 500;

                &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
                  position: relative;

                  &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1.2px;
                    height: 65%;
                    background-color: $bright;
                  }
                }
              }
            }
          }

          tbody {

            tr {
              font-size: .9rem;
              height: 2.65rem;
              text-align: center;
              vertical-align: center;
              transition: background-color 280ms ease-out, color 280ms ease-out;

            }

            tr:nth-child(2n + 1) {
              background-color: $bright;
              color: $main-theme;

              td:nth-of-type(1) {
                a {
                  width: 100%;
                  height: 2.65rem;
                  color: $main-theme;
                  padding: .2rem .5rem;
                  transition: color 280ms ease-out;

                  &:hover {
                    color: brown;
                  }
                }

              }
            }

            tr:nth-child(2n) {
              background-color: lighten($greyish, 31.5%);
              color: $main-theme;

              &:hover > td:nth-of-type(1) a {
                color: $main-theme;
              }

              td:nth-of-type(1) {
                a {
                  width: 100%;
                  height: 2.65rem;
                  color: $main-theme;
                  padding: .2rem .5rem;
                  transition: color 280ms ease-out;

                  &:hover {
                    color: brown;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
