@import '../config.module.scss';
@import '../media-queries.module.scss';

%input {
  width: 100%;
  height: $default-form-height;
  padding: $form-padding;
  border: 1.4px solid transparent;
  border-radius: 4px;
  background-color: $bright;
  font-family: $content-font;
  font-size: $default-form-font-size;
  font-weight: 500;
  color: $main-theme;

  @include sm-screen {
    font-size: $sm-form-font-size;
  }
}

%col-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 34.4px;
  // background-color: darkorchid;

  h3 {
    position: relative;
    font-size: 18.72px;

    &::after {
      content: '';
      position: absolute;
      bottom: -2.5px;
      left: 0;
      display: block;
      width: 100%;
      height: 2.1px;
      background-color: $sub-theme;
    }

    @include sm-screen {
      font-size: 17.52px;
    }
  }
}

.profile-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding: $padding-screen;
  // background-color: darksalmon;

  .profile-grid {
    display: grid;
    grid-template-columns: $default-form-width 1fr;
    grid-template-rows: auto;
    column-gap: calc(50.4px * 2);
    width: 100%;
    flex-grow: 1;
    margin-top: 50.4px;
    // background-color: cadetblue;

    @include lg-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .profile-col-1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $bright;
      // background-color: slateblue;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -50.4px;
        display: block;
        width: 1px;
        height: 100%;
        background-color: $bright;

        @include lg-screen {
          display: none;
        }
      }

      @include lg-screen {
        width: 100%;
        max-width: $default-form-width;
        margin-bottom: 68.8px;
        flex: 1;
      }

      .outer-col-title {
        @extend %col-title;
      }

      .profile-form-container {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        // background-color: darkgreen;

        .profile-form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          opacity: 0;

          .field-control {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            width: 100%;
            min-height: 132.5px;
            // background-color: burlywood;

            &:nth-of-type(3) {
              .password-input-wrap-profile {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-bottom: 12px;
              }
            }

            &:nth-of-type(4) {
              margin-bottom: 34.4px;
            }

            label:nth-child(1) {
              margin-bottom: 12px;
              font-size: $default-label-font-size;
              font-weight: 500;

              @include sm-screen {
                font-size: $sm-label-font-size;
              }
            }

            #username,
            #email,
            #confirmationPassword {
              @extend %input;
              margin-bottom: 12px;
            }

            #password {
              @extend %input;
            }

            .form-err-msg {
              width: 100%;
              font-size: 13.6px;
              font-weight: 600;
              text-align: left;
              color: $sub-theme;
              animation: fadeIn 0.6s ease-in-out;

              @include sm-screen {
                font-size: 12.4px;
              }
            }
          }

          .bottom-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @include sm-screen {
              flex-direction: column;
            }
          }
        }
      }
    }

    .profile-col-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      color: $bright;
      flex: 1;
      // background-color: darkolivegreen;

      .outer-col-title {
        @extend %col-title;
      }

      .table-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        // background-color: darkkhaki;

        .no-orders {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          color: $greyish;
          font-size: 18.4px;
          font-weight: 500;
          text-align: center;
          opacity: 0;
          cursor: default;

          @include sm-screen {
            font-size: 17.2px;
          }

          .start-shop {
            margin-left: 8px;
            color: $bright;
            font-size: 20px;
            transition: color 250ms ease-out;

            &:hover {
              color: $sub-theme;
            }

            @include sm-screen {
              font-size: 18.8px;
            }
          }
        }

        .my-orders-table {
          width: 100%;
          border-collapse: collapse;
          border-top-left-radius: 2.5px;
          border-top-right-radius: 2.5px;
          border-bottom-left-radius: 2.5px;
          border-bottom-right-radius: 2.5px;
          overflow: hidden;
          opacity: 0;
          cursor: default;

          @include lg-screen {
            display: block;
          }

          thead {
            height: 42.4px; // 42.4px
            // background-color: lighten($greyish, 9%);
            overflow: hidden;

            @include lg-screen {
              display: none;
              // display: block;
              // position: absolute;
              // top: -9999px;
              // left: -9999px;
            }

            tr {
              height: inherit;
              background-color: lighten($greyish, 9%);

              th {
                font-size: 14.8px;
                font-weight: 500;

                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4),
                &:nth-of-type(5) {
                  position: relative;

                  &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1.2px;
                    height: 65%;
                    background-color: $bright;
                  }
                }
              }
            }
          }

          tbody {
            @include lg-screen {
              display: block;
            }

            tr {
              font-size: 14.4px;
              height: 42.4px;
              text-align: center;
              transition: background-color 280ms ease-out, color 280ms ease-out;

              @include lg-screen {
                display: block;
                height: auto;
                padding: 12.6px;
              }

              @include sm-screen {
                font-size: 13.2px;
              }

              td {
                @include lg-screen {
                  display: block;
                  position: relative;
                  padding-left: 50%;
                  line-height: 20px;

                  &:not(:last-of-type) {
                    margin-bottom: 12.6px;
                  }

                  &::before {
                    position: absolute;
                    top: 0;
                    left: 25%;
                    height: 20px;
                    transform: translateX(-50%);
                    font-weight: 500;
                    color: $greyish;

                    @include md-screen {
                      left: 0;
                      transform: unset;
                    }
                  }

                  &:nth-of-type(1)::before {
                    content: 'ID';
                  }
                  &:nth-of-type(2)::before {
                    content: 'DATE';
                  }
                  &:nth-of-type(3)::before {
                    content: 'TOTAL';
                  }
                  &:nth-of-type(4)::before {
                    content: 'PAID';
                  }
                  &:nth-of-type(5)::before {
                    content: 'SHIPPED';
                  }
                }
              }

              td:nth-of-type(1) {
                a {
                  word-wrap: break-word;
                  overflow-wrap: break-word;
                  color: $main-theme;
                  transition: color 280ms ease-out;

                  &:hover {
                    color: $sub-theme;
                  }
                }
              }
            }

            tr:nth-child(2n + 1) {
              background-color: $bright;
              color: $main-theme;
            }

            tr:nth-child(2n) {
              background-color: lighten($greyish, 31.5%);
              color: $main-theme;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
